.row {
    color: white;
    margin-left: 20px;
}

.row h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0;
    gap: 10px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__item {
    flex: 0 0 auto;
}

@media (max-width: 768px) {
    .row {
        margin-left: 15px;
    }

    .row h2 {
        font-size: 1.1rem;
    }
}